<div class="row" style="width: 100%;">
    <div class="col-left" style="width: 50%;">
        <div class="left-customer-portal">
            <div class="customer" style="margin-top: -8em;">
                <p>
                    Powered by
                    <img class="img-responsive" src="assets/images/VU_Logo.jpg"  style="border-radius: 50px;"/>
                </p>
                <h2>Customer Portal</h2>
                <p>
                    Please register your account. If account already exists, continue to
                    Login.
                </p>
            </div>
            <div class="details" style="margin-top: -50px;">
                <div class="row">
                    <div class="col">
                        <hr class="new" />
                        <b>Recent Publications</b>
                        <p>The recent publicatons of our company will be shown here.</p>
                    </div>
                    <div class="col">
                        <hr class="new" />
                        <b>Announcements</b>
                        <p>The recent announcements of our company will be shown here.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-right" style="width: 50%;">
        <div class="right-customer-portal">
            <div class="header">
                <h2>Create an Account</h2>
                <p>Fill out the information below so we can get your account set up.</p>
            </div>
            <div class="container">
                <div class="form-group">
                    <label for="email"><b>Email Address</b></label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" />
                </div>
                <div class="row">
                    <div class="col">
                        <label for="First name"><b>Name</b></label>
                        <input type="text" class="form-control" placeholder="First name" />
                    </div>
                    <div class="col">
                        <label for="First name"></label>
                        <input type="text" class="form-control" placeholder="Last name" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label><b>Main Phone*</b></label>
                        <input type="tel" class="form-control"
                            placeholder="Enter Phone number" />
                    </div>
                    <div class="col">
                        <label><b>Cell Phone</b> (for SMS notification) </label>
                        <input type="text" class="form-control"
                            placeholder="Enter Phone number" />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <div class="row">
                    <div class="footer">
                        <div class="col">
                            <p>VU Solutions</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>