<div class="container px-4 px-lg-5">
    <!-- Heading Row -->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-12 col-lg-7">
            <img class="img-fluid" src="assets/images/VU_Logo.jpg" alt="VU Logo" style="border-radius: 50px;"/>
            <!-- <img class="img-fluid" [src]="imagePath" alt="VU Logo"/> -->
        </div>
        <div class="col-12 col-lg-5">
            <h1 class="font-weight-light text-center" style="margin: -10px 0px 15px 0px;">VU Solutions</h1>
            <p>VU Solutions is a 6 years old Private Limited Foreign Company Incorporated In India incorporated on 11 Jul 2016. Its registered office is in Visakhapatnam, Andhra Pradesh, India. The Company's status is Active, and it has filed its Annual Returns and Financial Statements up to 31 Mar 2021 (FY 2020-2021).</p>
            <a class="btn btn-primary" href="https://www.google.com" target="_blank">Visit Page</a>
            <!-- <a class="btn btn-primary" (click)="navigateToVisit()">Visit Page</a> -->
        </div>
    </div>

    <!-- Call to Action -->
    <div class="card text-white my-5 py-2 text-center" style="background-color: rgb(59, 53, 53);">
        <div class="card-body">
            <p class="text-white m-0">Our brand promise is simple: AN EFFICIENT WAY TO SUCCESS</p>
        </div>
    </div>
</div>
