<div class="row gx-4 gx-lg-5" style="margin: 10px;">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Overview</h2>
                <p class="card-text">VU provides industry-focused services for independent retailers. Our experienced staff, combined with our tools, allow us to provide the financial information needed to make informed operational decisions on a daily basis—whether you have one store or a hundred.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Address</h2>
                <p class="card-text">VU Heights, Plot No.1, Phase I, Beach Road, Visakhapatnam, Andhra Pradesh, India.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Contact</h2>
                <p class="card-text">For information or support on the portal, reporting tools and the dashboard, please contact the VU Help Desk or call
                    1-11-111</p>
            </div>
        </div>
    </div>
</div>
